body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
  height: 100%;
}

h1, p {
  color: #333;
}

ul > li, ol > li {
  cursor: pointer;
  padding: 5px;
}

#container {
  width: 100%;
  background-color: #fff;
  height: 600px;
}

#container .column {
  width: 33.2%;
  border: 1px solid #ccc;
  float:left;
  height: 100%;
  overflow: scroll;
}

#container .column .header {
  padding-left: 10px;
  border-bottom:1px solid #ccc;
}

.hidden {
  display:none;
}

.selected {
  background-color: powderblue;
  border: 1px solid #ccc;
}

#systems .header h1 {
  display: inline-block;
  width:90%;
}

#systems .contents > ul > li {
  font-weight: bold;
}

#systems .contents > ul > li > ul {
  margin-left: -20px;
  padding-bottom:10px;
  border-bottom: 1px solid #5B9C64;
  font-weight: normal;
}



#systems .header #addWorkerButton {
  float:right;
  cursor: pointer;
  text-align: center;
  font-size: 36px;
  padding-top:10px;
  margin-top:5px;
  margin-right:10px;
  width:35px;
  height:30px;
  color: #fff;
  border-radius: 5px;
  font-weight: 100;
  background-color: #5B9C64;
}


#overlay #closeButton {
  float:right;
  cursor: pointer;
  margin: -20px -20px 0 0;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  width:40px;
  height:20px;
  border-radius: 30px;
  background-color: #ddd;
  border: 1px solid #888;
}

#addWorkerForm {
  font-family: sans-serif;
  margin:50px auto 0;
  border:1px solid #888;
  width: 600px;
  padding:5px 0;
  background-color: #fff;
}

#addWorkerForm label {
  display: inline-block;
  width: 250px;
  text-align: right;
  padding-right: 10px;
}

#addWorkerForm input {
  height: 20px;
  width: 300px;
  padding:5px;
  vertical-align: middle;
  border:1px solid #ccc;
}

#addWorkerForm > div {
  padding:10px 0;
}

#addWorkerForm button {
  height:40px;
  color: #fff;
  font-size: 18px;
  width: 310px;
  border: 1px solid #ccc;
  background-color: #5B9C64;
}

.removeSystem {
  background: none repeat scroll 0 0 #f00;
  border-radius: 17px;
  color:#fff;
  display: inline;
  font-weight: 100;
  padding: 2px 7px 3px;
}

#overlay {
  float: left;
  z-index: 99;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background: rgba(20,20,20,0.4) fixed ;
}
