body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

ul > li, ol > li {
  cursor: pointer;
  padding: 5px;
}

#sample_container_id {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#sample_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
  -webkit-user-select: none;
  user-select: none;
}

#container {
  width: 100%;
  background-color: #fff;
  height: 400px;
}

#container .column {
  width: 33.2%;
  border: 1px solid #ccc;
  float:left;
  height: 100%;
  overflow: scroll;
}

#container .column .header {
  padding-left: 10px;
}


.hidden {
  display:none;
}

.selected {
  background-color: powderblue;
  border: 1px solid #ccc;
}
